.visor-calculadora{
    input{
        width: 90%;
        height: 60px;
        padding: 0 4px;
        background-color: gray;
        border: white solid 2px;
        border-radius: 2px;
        color: white;

        text-align: right;
    }
}