.botaoNum-geral{
    button{
        border: 1px solid black;
        padding: 20px 10px;
        box-sizing: border-box;
        width: 60px;
        border-radius: 25px;

        background: rgb(0, 0, 0);
        color:white;
    }
}