.main-nav{
    padding: 10px 15px;

    ul{
        display: flex;
        gap: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    li{
        list-style-type: none;
    }
}