.main-nav{
    padding: 10px 0;

    ul{
        display: flex;
        gap: 20px;
        display: flex;
        justify-content: center;
    }
    
    li{
        list-style-type: none;

        .link{
            text-decoration: none;
            color: black;
        }
    }
}