.main-header {
    background: #eef1f8;
    border-bottom: solid black 2px;
    display: flex;

    @media(max-width:489px) {
        .barra-header {
            min-width: 100%;
    
            display: flex;
            justify-content: left;
    
            .ldEsq {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
    
                img {
                    display: initial;
                    max-width: 30px;
                    max-height: 35px;
                    margin-left: 15px;
                }
            }
    
        }
    
        .sideBar-header{
            position: absolute;
            top:0px;
            animation-name: animacaoSideBar;
            animation-duration: 0.4s;
    
            width:50%;
            max-width: 200px;
        }

    }
    @media(min-width:490px){
        .barra-header{
            justify-content: space-between;
            width: 100%;
            
            .ldEsq{
                display: flex;
                align-items: center;
                box-sizing: border-box;
                padding: 0 10px;

                img{
                    display: none;
                }
            }
        }

        .sideBar-header{
            animation-name: animacaoSideBar;
            animation-duration: 0.4s;
        }
    }

    

    @keyframes animacaoSideBar {
        from{
            left:-300px;
        }
        to{
            left:0;
        }
    }
}