.main-menu{    
    background: #eef1f8;

    display: flex;    
    flex-direction: column;    
    padding: 15px 30px;
    align-items: center;
    height: 100vh;

    .icon-x{
        width: 20px;    
        height: 30px;
    }   

    ul{
        display: flex;
        flex-direction: column; 
        align-items: center;
        
        padding: 0;
        gap: 10px;

        li{
            padding: 10px;

            border-radius: 2px;
            text-decoration: none;
            list-style-type: none;

            .link{
                display: flex;
                text-decoration: none;
                color: black;

            }
        }

        li:hover{
            background: rgb(188, 197, 218);
            transition: all 0.2s;
        }
    }
}