.calculadora-geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;

    header{
        min-width: 100%;
    }
    main{
        width: 90%;
        display: flex;  
        justify-content: center;

         .calculadora{
            border-radius: 5px;
            padding: 8px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background: #eef1f8;
            @media (max-width:584px) {
                width: 100%;
            }
            @media (min-width:585px) {
                width: 100%;
                max-width: 600px;
            }

            .tela-digitos{
                min-width: 100%;
            }

            .botoes{
                display: flex;
                padding: 8px;
                width: 90%;

                .botoes-ld-esq{
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    padding: 5px;
                    gap: 15px;

                    width: 75%;
                }

                .botoes-ld-dir{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 5px;
                    gap: 10px;

                    width: 25%;
                }
            }
         }
    }
    
    footer{
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}