@font-face{
  font-family: fontPadrao;
  src: url("./../public/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "fontPadrao";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
